.category-list{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 24px;
}
.category-list ul{
    display: grid;
    gap:16px;
    /* grid-template-columns:repeat(6 , 1fr) ; */
    /* grid-template-columns:repeat(auto-fill , 200px) ; */
    /* grid-template-columns:repeat(auto-fill , min(200px , 1fr)) ; */
    /* grid-template-columns:repeat(auto-fill , minmax(150px , 1fr)) ; */
    /* grid-template-columns:repeat(auto-fill , minmax(240px , 1fr)) ; */
    grid-template-columns:repeat(auto-fit , minmax(200px , 1fr)) ;
    
}
.category-list ul li img{
    width: 100%;
}
.category-list ul li a span{
    display: grid;
    justify-content: center;
}