.header{
    display: grid;
    grid-template-columns: 120px 1fr 160px;
    gap: 8px;
    height: 50px;
    /* justify-items: center; */
    align-items: center;
    padding: 0px 12px;
    max-width: 1600px;
    margin: 0 auto;
}

.header .logo , .header .logo svg{
    width: 100px;
    height: 40px;
}