body{
    color: #131419;
    font-family: 'Inter', sans-serif;
    background-color: #fafafa;
}
*{
    letter-spacing: -.025em;
    box-sizing: border-box;
}

a{
    color: #131419;
    text-decoration: none;
}
a:hover{
    color: #008c8e;
}

h1{
    font-size: 50px;
    line-height: 1.46;
    font-weight: 600;
}

a.link-primary{
    color: #008c8e;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

a.link-primary svg {
    width: 20px;
    bottom: .25em;
    height: 1em;
    padding-left: 5px;
    fill: #008c8e;
    transition-duration: 300ms;
}

a.link-primary:hover svg {
    padding-left:10px;
}


.navbar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0px 24px;
    border-bottom: 1px solid #e7e7e8;
    box-shadow: 0px 1px 5px #e7e7e8;
}

.logo img{
    width: 125px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.navbar-first-half{
    display: flex;
}
.menus{
    display: flex;
    align-items: center;
}
.menus ul {
    display: flex;
}
.menus ul li{
    list-style: none;
}

.menus ul li a{
    font-size: 16px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.banner-row{
    width: 100%;
    padding: 10px 0px;
}


.banner-text-background-image{
    background-image: url("https://www.envato.com/static/media/cta-image.0433f50c.svg");
    background-position:top right;
    background-repeat: no-repeat;
}  

.section{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 40px;
    margin: 0 auto;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}

.header p {
    font-size: 28px;
    line-height: 1.25;
    font-weight: 400;
    margin-top: 32px;
    max-width: 600px;
    color: #5a5a5e;
}

.banner-text-background-image .banner-row ,
.header .banner-row{
    width: 100%;
    display: flex;
}

.banner-text-background-image h3 {
    font-size: 26px;
    line-height: 1.25;
    font-weight: 600;
    max-width: 600px;
    color: #131419;
}
.banner-menu .banner-menus-scroll {
    width: 100%;
    display: flex;
    
}

.banner-menu ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.banner-menu ul li {
    list-style: none;
    display: flex;
    height: 140px;
    flex-grow: 1;
    min-width:150px ;
    /* flex-shrink: 1;
    flex-basis: 40%; */
    
}

.banner-menu ul li a.link-image{
    display: flex;
    color: #5a5a5e;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: 1px solid rgb(225, 225, 225);
    transition: background-color .3s ease;
}
.banner-menu ul li a.link-image:hover{
    color: #131419;
    background-color: #f3f3f3;
}

.banner-menu ul li a.link-image img{
    padding: 10px;
    width:50px;
}

.banner-menu ul li a.link-image span{
    text-align: center;
}

/* @media screen and (min-width:600px) {
    .banner-menu ul{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
} */


.banner-two-columns{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.banner-two-columns .banner-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 0 20px;
}

.banner-two-columns .banner-text img{
    width: 200px;
    height: 50px;
    overflow: hidden;
}

.banner-two-columns .banner-text p{
    font-size: 26px;
    line-height: 1.25;
    font-weight: 600;
    max-width: 600px;
    color: #131419;
}

.banner-two-columns .banner-text .banner-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
