@import '../sass-utils/variables';

.btn{
    border: 1px solid $gray100;
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
    height: 40px;


    &--outline{
        background-color: $white;
    }
    &--texticon{
        display: grid;
        grid-template-columns: 20px 1fr;
        align-items: center;
        gap: 8px;
    }

    &--noborder{
        border: none;
    }

    &--icon{
        img{
            width: 25px;
        }
    }

    &:hover{
        background-color: $gray100;
        color: $white;
    }
}