.card{
    border: 2px solid green;
    border-radius: 5px;
    width: 300px;
    margin: 10px 20px;
    padding: 10px 20px 7px 40px;
    background-color: coral;
    /* outline: 4px dotted yellowgreen; */
}
.card h3{
    margin: 0px;
    padding-left: 20px;
}
.card p{
    margin: 0px;
    color:#fff;
}