body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.parent{
    position: relative;
    background-color: white;
    width: calc(50vw - 10px);
    height: calc(50vh - 100px);
    min-width: calc(10vw - 10px);
    min-height: calc(50vh - 100px);
    left: 25%;
    margin-top:15%;
    padding: 10px;
}
.box1{
    position: absolute;
    background-color:#D3D3D3;
    width: calc(50vw - 10px);
    height: calc(50vh - 100px);
    min-width: calc(10vw - 100px);
    min-height: calc(50vh - 100px);
    border: 1px solid gray;
}
.box2{
    position: absolute;
    background-color:#3806dc;
    border: 2px solid rgb(0, 0, 0);
    width: calc(10vw - 10px);
    height: calc(20vh - 100px);
    max-width: calc(50vw - 10px);
    max-height: calc(30vh - 10px);
    top: 10%;
    left: 5%;
    z-index: 2;
}

.box3{
    position: absolute;
    background-color:#f32a2a;
    border: 2px solid rgb(0, 0, 0);
    width: calc(10vw - 10px);
    height: calc(20vh - 100px);
    max-width: calc(50vw - 10px);
    max-height: calc(30vh - 10px);
    z-index: 3;
    top: 20%;
    left: 10%;
}

.box4{
    position: absolute;
    background-color:#286a1b;
    border: 2px solid rgb(0, 0, 0);
    width: calc(100vw - 10px);
    height: calc(20vh - 10px);
    max-width: calc(50vw - 10px);
    max-height: calc(30vh - 10px);
    z-index:4;
    top: 30%;
    left: 15%;
}

@media screen and (min-width:200px) and (min-height:200px){
    .parent{
        background-color: white;
        width: calc(80vw - 10px);
        height: calc(80vh - 100px);
        position: relative;
        left: 10%;
        margin-top:8%;
        padding: 10px;
    }
    .box1{
        position: absolute;
        background-color:#D3D3D3;
        border: 1px solid gray;
        width: calc(80vw - 10px);
        height: calc(80vh - 100px);
    }
    .box2{
        position: absolute;
        background-color:#3806dc;
        border: 2px solid rgb(0, 0, 0);
        width: calc(150vw - 10px);
        height: calc(200vh - 10px);
        top: 10%;
        left: 5%;
        z-index: 2;
    }
    .box3{
        position: absolute;
        background-color:#f32a2a;
        border: 2px solid rgb(0, 0, 0);
        width: calc(150vw - 10px);
        height: calc(200vh - 10px);
        z-index: 3;
        top: 20%;
        left: 10%;
    }
    .box4{
        position: absolute;
        background-color:#286a1b;
        border: 2px solid rgb(0, 0, 0);
        width: calc(150vw - 10px);
        height: calc(200vh - 10px);
        z-index:4;
        top: 30%;
        left: 15%;
    }
}
