.hide{
    display: none;
}
.show{
    display: block;
}
.parent-element{
    background-color: rgb(117, 214, 117);
    height: 100px;
    padding: 20px;
    position: relative;
}
.child-element{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
}
.fix{
    position: fixed;
    top: 100px;
    right: 0;
    background-color: blue;
}
.center{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto auto;
    height: 100px;
    background-color: goldenrod;
    padding: 10px;
    width: 150px;
    text-align: center;
}