.parent{
    background-color: green;
    height: 500px;
    font-size: 40px;
    position: relative;
    width: 400px;
}
.child-1{
    position: absolute;
    background-color: blue;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.child-2{
    position: absolute;
    background-color: rgb(131, 131, 177);
    bottom: 30px;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}
.child-3 {
    position: absolute;
    height: 500px;
    width: 300px;
    background-color: black;
    left: 0;
    opacity: 0.5;
    z-index: 3;
}